<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Topic</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
       <label for="category">Category</label>
        <select id="category" name="category">
        <option value="Medical">Medical</option>
        <option value="Education">Education</option>
        <option value="Schedule">Schedule</option>
        <option value="Extracurricular">Extracurricular</option>
        <option value="Vacation">Vacation</option>
        <option value="Drop-offs/Pick-ups">Drop-offs/Pick-up</option>
        <option value="Expenses">Expenses</option>
</select>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>