<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="category">Topic</label>
      <input type="text" id="category" name="category" />
    </div>
    <div>
      <label for="post-url">Category</label>
        <select id="post-url" name="post-url">
        <option value="Medical">Medical</option>
        <option value="Education">Education</option>
        <option value="Schedule">Schedule</option>
        <option value="Extracurricular">Extracurricular</option>
        <option value="Vacation">Vacation</option>
        <option value="Drop-offs/Pick-ups">Drop-offs/Pick-up</option>
        <option value="Expenses">Expenses</option>
</select>
    </div>
    <div></div>
    {{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="approval-btn">approval</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/approval.js"></script>
{{/if}}
</div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>