{{> post-info post}}

<div></div>
<h1>{{greeting}}</h1>
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    {{!-- <button onclick="toggle()" type="button" class="approval-btn">approval</button> --}}
  </div>

</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/approval.js"></script>
{{/if}}