/* Remove Browser Default Styling */
/* the * acts as a select all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

:root {
  --peach: #c06f64;
  --baby-blue: #cdd5dd;
  --blue: #637990;
  --dark-blue: #3e516d;
  --mint: #b6d9d0;
  --cream: --#fdf4e2;
  --brown: --#a26044;
  --orange: --#bb5232;
  --black: --#000;
  --white: --#fff;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  color: var(--black);
  background-color: #7497aa;
}

.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.row {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
}

.logo {
  margin-top: 10px;
  z-index: 4;
}

.logotext {
  text-decoration: none;
}

.tagline {
  font-family: "Itim", cursive;
  color: var(--cream);
}

#cub {
  font-family: "Bungee", cursive;
  color: var(--cream);
  font-size: 75px;
}

#kin {
  font-family: "Sniglet", cursive;
  font-size: 53pt;
  color: var(--cream);
  /* text-decoration: none; */
}

#cub2 {
  font-family: "Bungee", cursive;
  color: var(--cream);
  font-size: 15px;
}

#kin2 {
  font-family: "Sniglet", cursive;
  font-weight: bold;
  font-size: 12pt;
  color: var(--cream);
  /* text-decoration: none; */
}

h6 {
  font-family: "Itim", cursive;
  font-weight: bold;
  font-size: 15pt;
  color: var(--cream);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--blue);
}

/* button {
  outline: none !important;
  height: 80px;
  margin-top: 60vh;
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  text-transform: uppercase;
  color: var(--dark-green);
  border: 0;
  border-radius: 5px;
  background-color: var(--bright-blue-green);
  padding: 12px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  /* left: 25%; */
/* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:hover {
  background-color: #62d1fa;
  color: var(--dark-green);
  border: 0;
} */
*/ button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: var(--dark-blue);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Bungee", cursive;
}

button:hover {
  background-color: var(--blue);
}

.post-list {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.approval-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
  font-family: "Bungee", cursive;
}

.approval-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  font-family: "Titillium Web", sans-serif;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-family: "Titillium Web", sans-serif;
}

/* Arcan */
.homebutton {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  background-color: black;
}

.menu-nav {
  background-color: var(--bright-red);
  height: 11vh;
  color: var(--brown);
  padding-left: 20px;
  padding-top: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--lime);
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
  text-decoration: none;
  overflow-x: hidden;
  transition: 600ms;
  transition-timing-function: ease-in-out;
  padding-top: 60px;
  z-index: 1000;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  color: var(--brown);
  display: block;
  transition: 600ms;
  transition-timing-function: ease-in-out;
}

.sidenav a:hover {
  color: var(--cherry-red);
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
